.badge {
  @include flex-center(true);

  column-gap: 2px;
  padding: 6px 10px;
  border: var(--border);
  border-radius: 50px;
  font-size: fluid-to-laptop(14, 12);
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  color: var(--color-gray-60);
  background-color: var(--color-black-08);

  @include mobile {
    padding-inline: 8px;
  }

  &--accent {
    color: var(--color-white);
    background-color: var(--color-red-45);
    border: none;
    border-radius: var(--border-radius-xxs);

    @include laptop {
      border-radius: var(--border-radius-xxxs);
    }
  }

  &--big {
    padding: fluid-to-laptop(10, 8);
    font-size: fluid-to-laptop(16, 12);
    font-weight: 600;
  }

  &--square {
    column-gap: 4px;
    padding-block: 8px;
    border-radius: var(--border-radius-s);

    @include laptop {
      padding: 6px;
      border-radius: var(--border-radius-xs);
    }
  }

  &__icon {
    &.icon {
      --iconSize: #{fluid-to-laptop(24, 20)};
    }
  }
}