.tags {

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px
  }

  &__item {
    padding: fluid-to-laptop(8, 6) fluid-to-laptop(14, 12);
    border: var(--border);
    border-radius: var(--border-radius-s);
    font-weight: 500;
    color: var(--color-white);
    background-color: var(--color-black-08);

    @include laptop {
      border-radius: var(--border-radius-xs);
    }
  }
}