.movie-card {
  display: flex;
  flex-direction: column;
  row-gap: fluid(20, 12);
  padding: fluid(20, 12);
  border: var(--border);
  border-radius: var(--border-radius-l);
  background-color: var(--color-black-10);

  @include laptop {
    border-radius: var(--border-radius-m);
  }

  @include hover {
    border-color: var(--color-white);
  }

  &__image {
    width: 100%;
    height: fluid(281, 195);
    object-fit: cover;
    border-radius: inherit;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 8px;
  }

  &__released-badge {
    width: 100%;

    &-label {
      color: var(--color-gray-75);
    }
  }
}