.slider-navigation {
  display: flex;
  align-items: center;

  &--tile {
    column-gap: fluid-to-laptop(16, 12);
    padding: fluid-to-laptop(16, 12);
    border: var(--border);
    border-radius: var(--border-radius-l);
    background-color: var(--color-black-06);

    @include laptop {
      border-radius: var(--border-radius-m);
    }
  }

  &__pagination {
    display: flex;
    column-gap: 3px;

    &-bullet {
      width: 16px;
      height: 4px;
      border-radius: 100px;
      background-color: var(--color-black-20);
      transition-duration: var(--transition-duration);

      &.is-active {
        width: 23px;
        background-color: var(--color-red-45);
      }
    }
  }
}