.specifications {
  padding: 24px;
  font-weight: 500;
  border: var(--border);
  border-radius: var(--border-radius-l);
  background-color: var(--color-black-06);

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px 20px;
    grid-auto-flow: dense;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 4px;

    &--wide {
      grid-column: -1 / 1;
    }
  }

  &__value {
    color: var(--color-white);
  }
}