.accordion {
  width: 100%;

  &__details {
    &[open] {
      .accordion__title::after {
        scale: 0;
      }

      & + .accordion__content {
        grid-template-rows: 1fr;
      }
    }
  }

  &__summary {
    list-style: none;
    cursor: pointer;
    user-select: none;
    color: var(--color-white);

    @include hover {
      color: var(--color-red-60);
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    position: relative;
    min-height: var(--accordionGroupCounterHeight);
    padding-right: 50px;
    color: inherit;
    transition-duration: var(--transition-duration);

    &::before,
    &::after {
      @include abs-y;

      content: '';
      right: 0;
      width: fluid-to-laptop(20, 16);
      height: 2.5px;
      border-radius: 10px;
      background-color: var(--color-white);
      transition-duration: var(--transition-duration);

      @include laptop {
        height: 2px;
      }
    }

    &::after {
      rotate: 90deg;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: var(--transition-duration-longer);

    &-inner {
      overflow: hidden;
    }

    &-body {
      margin-top: 20px;
    }
  }
}